@mixin skin($color) {
  border: .2rem solid $color;
  border-radius: 3px;
}

@mixin animation-setup {
  animation-duration: $mainAnimationTime / $stepsNumber;
  animation-iteration-count: $stepsNumber;
}